@{
    ViewBag.Title = "Home Page";
}

<main>
    <section>
        <h1 id="title">Welcome to Purrfect Blog</h1>
        <p class="lead">This blog is about cats.</p>
        @Html.ActionLink("See more", "Posts", "BlogPosts", null, new { @class = "btn btn-primary btn-md" })
    </section>
</main>