@{
    ViewBag.Title = "Home Page";
}

<main>
    <section>
        <h1 id="title">Welcome to Purrfect Blog</h1>
        <p class="lead">This blog is about cats.</p>
        <p><a href="" class="btn btn-primary btn-md">See more &raquo;</a></p>
    </section>
</main>